.container__Novedades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    .novedades{
        color: rgb(200, 200, 200);
        font-size: 50px;
        text-align: center;
    }
    .novedades__parrafo{
        color: rgb(200, 200, 200);
        width: 60%;
        margin: 35px;
    }
}

.titulo__principal{
  text-align: center;
  border: 2px solid white;
  padding: 0.6em 0;
  margin-top: 4rem;
}

.conteiner__seccion{
    margin: 4em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img__log{
    margin: 0 auto;
    width: 120px;
    border-radius: 49%;
}

.seccion__log{
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}


.text__log{
    font-size: 25px;
}

.dos, .tres{
    border-left: 1px solid white;
}
